# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# APKs
*.apk
*.ap_

# Native
.externalNativeBuild
.cxx/

# Keystore
*.jks
*.keystore
build_log.txt
